@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #6400ff;
	--color-primary-light: #e0ccff;
	--color-primary-dark: #4600b3;
	--color-secondary: #9bff00;
	--color-background: #f5f2fa;
	--color-complementary-light: #faccff;
	--font-raleway: 'Raleway', sans-serif;
	--font-sans: 'PT Sans', sans-serif;
}

@layer components {
	/* core */
	.toggle-text {
		@apply text-primary-dark font-raleway cursor-pointer text-xl font-bold transition-all duration-100 ease-in;
	}

	.toggle-text:hover {
		@apply tracking-wider transition-all duration-100 ease-out;
	}

	.button {
		@apply relative inline-block cursor-pointer self-start;
	}

	.button > span {
		@apply font-raleway text-primary border-primary relative z-20 flex w-fit rounded-md border-[.2rem] px-8 py-3 text-xl font-semibold transition-all duration-300 ease-in-out;
	}

	.button::before {
		content: '';
		@apply bg-complementary-light absolute top-0 right-0 bottom-0 left-0 z-10 translate-x-1.5 translate-y-1.5 rounded-md opacity-0 transition-all duration-300 ease-in-out;
	}

	.button:hover::before {
		@apply opacity-100 transition-all duration-300 ease-in-out;
	}

	/* components */
	.nav-item {
		@apply text-primary-dark font-raleway relative left-[110%] text-4xl font-bold transition-transform duration-300 ease-out md:left-0 md:text-2xl md:font-semibold;
	}

	.nav-item::after {
		content: url("data:image/svg+xml,%3Csvg width='90' height='27' viewBox='0 0 90 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.803711 27H0V24.9141L19.6592 0H22.1074L0.803711 27ZM7.80371 27H5.35449L26.6592 0H29.1074L7.80371 27ZM14.8037 27H12.3545L33.6592 0H36.1084L14.8037 27ZM21.8037 27H19.3545L40.6592 0H43.1074L21.8037 27ZM28.8037 27H26.3545L47.6592 0H50.1074L28.8037 27ZM35.8037 27H33.3545L54.6592 0H57.1084L35.8037 27ZM42.8037 27H40.3545L61.6592 0H64.1074L42.8037 27ZM49.8037 27H47.3545L68.6592 0H71.1074L49.8037 27ZM56.8037 27H54.3545L75.6592 0H78.1084L56.8037 27ZM63.8037 27H61.3545L82.6592 0H85.1074L63.8037 27ZM90 2.6709L70.8037 27H68.3545L89.6582 0H90V2.6709ZM90 11.542L77.8037 27H75.3545L90 8.43848V11.542ZM90 20.4141L84.8037 27H82.3545L90 17.3096V20.4141ZM90 27H89.3545L90 26.1816V27ZM0 19.1465V16.043L12.6592 0H15.1084L0 19.1465ZM0 10.2754V7.17188L5.65918 0H8.10742L0 10.2754ZM0 1.40332V0H1.10742L0 1.40332Z' fill='%23faccff'/%3E%3C/svg%3E");
		@apply absolute -bottom-2/5 left-1/2 -translate-x-1/2 scale-y-100 bg-transparent transition-all duration-300 ease-in-out;
	}

	.nav-item:hover::after {
		@apply bg-complementary-light translate-y-[-10%] scale-y-80 transition-all duration-300 ease-in-out;
	}

    .section-header {
        @apply text-6xl relative font-bold font-sans z-10 text-primary col-start-2 col-span-9;
        @supports (-webkit-text-stroke: 0.3rem var(--color-primary)) {
            -webkit-text-stroke: 1.5px var(--color-primary);
            color: transparent;
        }
    }

    .section-header::after {
        content: attr(data-text);
        @apply left-0.5 -bottom-0.5 absolute text-complementary-light z-0 font-sans w-full;
        @supports (-webkit-text-stroke: 0.3rem var(--color-primary)) {
            -webkit-text-stroke: 0 var(--color-primary);
        }
        z-index: -1;
    }

    .section-header::before {
        content: "";
        @apply absolute left-0 -bottom-1/3 bg-primary h-[.1rem];
        width: var(--line-width, 0px);
    }

	.section-header-icon {
		@apply text-5xl relative font-bold font-sans z-10 text-primary col-start-2 col-span-9 h-fit;
		@supports (-webkit-text-stroke: 0.3rem var(--color-primary)) {
			-webkit-text-stroke: 1.5px var(--color-primary);
			color: transparent;
		}
	}

	.section-header-icon::after {
		content: attr(data-text);
		@apply left-0.5 -bottom-0.5 absolute text-complementary-light z-0 font-sans w-full;
		@supports (-webkit-text-stroke: 0.3rem var(--color-primary)) {
			-webkit-text-stroke: 0 var(--color-primary);
		}
		z-index: -1;
	}

    .section-description {
        @apply col-span-9 col-start-2 text-lg font-sans font-medium;
    }

	.card-wrapper {
		@apply relative col-span-9 col-start-2 lg:col-start-auto lg:col-span-3 overflow-visible;
	}

	.card-wrapper::after {
		content: '';
		@apply absolute bottom-0 left-0 right-0 top-0 w-4/5 h-7/12 rounded-md bg-complementary-light opacity-0;
		z-index: 2;
		transform: translate(calc(2rem + var(--tx, 0px)), calc(6rem + var(--ty, 0px)));
		pointer-events: none;
		transition: opacity 0.2s ease;
		will-change: transform;
	}

	.card-wrapper:hover {
		@apply cursor-pointer;
	}

	.card-wrapper:hover::after {
		@apply opacity-100 transition-opacity duration-150 ease-in;
	}

	.card {
		@apply relative z-10 border-[.2rem] border-primary-dark group-hover:border-primary rounded-md select-none px-6 py-5 h-full text-primary-dark group-hover:text-primary group-hover:-translate-y-1 transition-transform duration-100 ease-in;
	}

	.card-header {
		@apply flex items-center justify-between gap-2 text-2xl py-2 font-bold font-sans;
	}

	.card-body {
		@apply text-lg font-sans relative flex flex-col gap-3 pr-4;
	}

}
