#about {
  margin-top: 4rem;
  padding-top: 9rem;
  background-color: var(--primary);
  min-height: 100vh;
  width: 100%;
}

#about .wrapper {
  margin: 2rem auto;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
}
#about .wrapper .content {
  grid-column: span 2;
}
.mark {
  padding-top: 1rem;
  display: inline-flex;
  gap: 0.2rem;
  align-items: center;
}
.mark h3 {
  font-size: 2.2rem;
}
.mark span {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
/* pseudo class */

/* media query */
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  #about .wrapper .content {
    grid-column: span 4;
  }
  #about .wrapper {
    gap: 1rem;
  }
}
