@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-40%);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(20%);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(-100%);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(100%);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes profile-animation {
    from {
        opacity: 0;
        transform: translateY(30%);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes hover-translate {
    to {
        transform: translate(-0.5rem, -0.5rem);
    }
}