#experience {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: var(--primary);
    min-height: 100vh;
    width: 100%;
}

.exp-wrapper {
    margin: 2rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.exp-wrapper > div {
    border: 1px solid var(--dark);
    padding: 0.8rem;
    position: relative;
    overflow: hidden;
    transition: all 200ms ease-out;
}

.exp-wrapper ul {
    padding: 0.5rem;
}

.exp-wrapper li {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin: 0.8rem 0;
}

.exp-wrapper li i {
    font-size: 1.3rem;
    padding-top: 0.3rem;
}

.exp-info {
    display: block;
}

.bg-icon {
    position: absolute;
    font-size: 8rem;
    color: var(--dark);
    opacity: 0.6;
    right: 0;
    bottom: 0;
    rotate: 20deg;
}

/* pseudo class */
.exp-wrapper > div:hover {
    box-shadow: 0.5rem 0.5rem var(--dark);
    transform: translate(-5px, -5px);
    transition: all 200ms ease-out;
}

/* media query */
@media (max-width: 1200px) {
    .exp-wrapper {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .exp-wrapper > div {
        grid-column: span 6;
    }
}

@media (max-width: 768px) {
    .exp-wrapper {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
}

@media (max-width: 600px) {
    .exp-wrapper {
        width: 90%;
    }
}