#experience {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--primary);
  min-height: 100vh;
  margin: auto;
}

#experience .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem auto;
}

#experience .container .content {
  border: 1px solid var(--dark);
  text-align: center;
  transition: all 300ms ease-out;
  padding: 1rem;
}

#experience .container .content svg {
  height: 2.5rem;
  fill: var(--dark);
}

#experience > h2 {
  padding-top: 2rem;
  text-align: center;
}
.carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.carousel-1 {
  margin-top: 1rem;
  flex-wrap: nowrap;
  display: inline-flex;
  justify-content: center;
  gap: 2rem;
  animation: scroll-right 20s linear infinite;
}
.carousel-2 {
  flex-wrap: nowrap;
  display: inline-flex;
  justify-content: center;
  gap: 2rem;
  animation: scroll-left 20s linear infinite;
}
.carousel-1 svg,
.carousel-2 svg {
  height: 3rem;
}

.carousel-1 .icon,
.carousel-2 .icon {
  padding: 0.3rem;
  font-size: 0.6rem;
  text-align: center;
}

/* pseudo class */
#experience .container .content:hover {
  background-color: var(--dark);
  transition: all 200ms ease-out;
  color: var(--primary);
}
#experience > .container > .content:hover .symbol {
  fill: var(--primary);
  transition: all 100ms ease-out;
}
.carousel-1:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.carousel-2:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
@media (max-width: 768px) {
  #experience .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
