#hero {
  padding-top: 2rem;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  position: relative;
  font-family: Scandia Stencil;
  text-transform: uppercase;
}
.heading > h1,
.heading > span {
  font-size: 15rem;
  line-height: 12rem;
}

.heading-main {
  color: transparent;
  -webkit-text-stroke: 1px var(--dark) !important;
  transition: color 300ms;
}

.heading-outline {
  -webkit-text-stroke: 2px #fff !important;
  position: absolute;
  color: transparent;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  transition: opacity 300ms;
}

.heading-main.first,
.heading-outline.first {
  animation: fade-in-right 1s;
  outline: 0;
}

.heading-main.second,
.heading-outline.second {
  outline: 0;
  animation: fade-in-left 1s;
}

.hero-profile {
  position: absolute;
  z-index: 2;
  bottom: -5%;
  opacity: 0;
  animation: profile-animation 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.profile {
  mask-image: linear-gradient(var(--primary) 50%, transparent);
  height: 700px;
  display: flex;
}

.hero-intro {
  display: inline-flex;
  gap: 0.2rem;
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  opacity: 0;
  animation: fade-in-left 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.hero-intro svg {
  color: var(--dark);
  height: 2rem;
}
.cta-wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  opacity: 0;
  animation: fade-in-up 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.cta-wrapper > a > i {
  color: var(--primary);
  font-size: 2.4rem;
  text-shadow: 1px 1px var(--dark), -1px -1px var(--dark);
}
.heading-wrapper {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* pseudo class */
.heading-outline:hover {
  opacity: 1;
  transition: opacity 300ms;
}

.cta-wrapper > i:hover {
  text-shadow: 1px 1px 5px var(--dark);
}

@media (max-width: 1400px) {
  .heading > h1,
  .heading > span {
    font-size: 12rem;
    line-height: 10rem;
  }

  .profile {
    height: 560px;
  }
}

@media (max-width: 1200px) {
  .heading h1,
  .heading > span {
    font-size: 10rem;
    line-height: 8.5rem;
  }
  .profile {
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .heading h1,
  .heading > span {
    font-size: 7rem;
    line-height: 6rem;
  }

  .profile {
    height: 700px;
  }
  .cta-wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .heading-wrapper {
    justify-content: space-between;
  }
  .content-wrapper {
    justify-content: space-between;
    padding-top: 4rem;
  }
  .heading h1,
  .heading > span {
    font-size: 5rem;
    line-height: 4.5rem;
  }

  .hero-intro {
    font-size: 1rem;
    gap: 0.1rem;
  }
  .hero-intro svg {
    height: 1rem;
  }
  .profile {
    height: 600px;
  }
}

@media (max-width: 576px) {
  #hero {
    overflow-x: hidden;
  }
  .heading h1,
  .heading > span {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-profile {
    bottom: 10%;
  }
  .hero-intro {
    padding: 0 1rem;
  }

  .profile {
    height: 520px;
  }
}
