@import "utils.css";
@import "navbar.css";
@import "hero.css";
@import "about.css";
@import "experience.css";
@import "projects.css";
@import "contact.css";
@import "footer.css";
@import "animation.css";
@import "timeline.css";

@font-face {
  font-family: Scandia;
  src: url("../public/fonts/Scandia-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Scandia Medium;
  src: url("../public/fonts/Scandia-Medium.woff2");
}

@font-face {
  font-family: Scandia;
  src: url("../public/fonts/Scandia-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: Scandia Stencil;
  src: url("../public/fonts/Scandia-Stencil.woff2");
  font-weight: bold;
}

:root {
  font-family: Scandia;
  font-size: 16px;
  --primary: #eceff4;
  --secondary: #e5e9f0;
  --focus: #d8dee9;
  --dark: #2e3440;
  scroll-behavior: smooth;
}

/* globals */
* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  background-color: var(--primary);
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 0.5rem;
}
