#projects {
  color: var(--dark);
  padding-top: 6rem;
  padding-bottom: 3rem;
  min-height: 100vh;
  width: 100%;
}
#projects .container {
  width: 80%;
  gap: 2rem;
  margin: auto;
}
.card {
  border-bottom: 1px solid var(--dark);
  padding: 1rem;
}
.card .title a {
  font-size: 1.2rem;
  color: var(--dark);
}
.link {
  height: 0.8rem;
  transition: all 200ms ease-out;
}
.card .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-top: 1rem;
}

/* pseudo class  */
.card > .title:hover .link {
  height: 0.9rem;
  transition: all 100ms ease-out;
}

/* responsive */
@media (max-width: 768px) {
  #projects .container {
    width: 90%;
  }
}
